<div id="container">
  <div id="todo"><todo></todo></div>
  <div id="sidebar"><sidebar></sidebar></div>
</div>

<script>
ds = new ItemStore()
riot.mount('todo', {
  title: 'My Todo List',
  dataStore: ds
})
riot.mount('sidebar', {
  dataStore: ds
})
</script>
