#container {
  background-color: #ccc;
  padding: 15px;
  overflow: hidden;

  > div {
    float: left;
    background-color: #fff;
    width: 400px;
    padding: 15px;
    margin: 15px;
  }
  > div#sidebar {
    width: 200px;
  }
}
